<div class="row">
    <div class="col-sm-12 col-md-6" id="todo-area">
        {{#each todoItems}} {{> todo_item }} {{/each}}
    </div>
    <div class="col-sm-12 col-md-4">
        {{> (lookup . 'form_partial') }}
    </div>
</div>